/* * {
  outline: 2px solid limegreen;
} */

/* breakpoints: 600 - tablets, laptops
                1024 - big screens */

:root {

  --clr-accent-100: hsl(35, 77%, 62%);
  --clr-accent-200: hsl(5, 85%, 63%);

  --clr-neutral-100: hsl(36, 100%, 99%);
  --clr-neutral-200: hsl(233, 8%, 79%);

  --clr-primary-400: hsl(236, 13%, 42%);
  --clr-primary-900: hsl(240, 100%, 5%);


  --fw-regular: 400;
  --fw-bold: 700;
  --fw-extra-bold: 800;

  --ff-primary: 'Inter', sans-serif;
  --ff-body: var(--ff-primary);
  --ff-heading: var(--ff-primary);

  --fs-300: 0.8125rem;
  --fs-400: 0.9375rem;
  --fs-500: 1.05rem;
  --fs-550: 1.25rem;
  --fs-600: 1.4rem;
  --fs-650: 1.6rem;
  --fs-700: 1.875rem;
  --fs-800: 2.8rem;
  --fs-900: 3.5rem;

  --fs-body: var(--fs-400);
  --fs-h1: var(--fs-800);
  --fs-h2: var(--fs-700);
  --fs-h3: var(--fs-600);
  --fs-h4: var(--fs-500);
  --fs-nav: var(--fs-500);
  --fs-button: var(--fs-500);


  --size-100: 0.25rem;
  --size-200: 0.5rem;
  --size-300: 0.75rem;
  --size-400: 1rem;
  --size-500: 1.5rem;
  --size-550: 1.75rem;
  --size-600: 2rem;
  --size-700: 3rem;
  --size-800: 4rem;
  --size-900: 5rem;

}

@media (min-width: 1200px) {
  :root {
    --fs-h1: var(--fs-900);
    --fs-h2: var(--fs-800);
    --fs-h3: var(--fs-600);
    --fs-h4: var(--fs-550);
    --fs-body: var(--fs-500);
  }
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: var(--clr-accent-100);
}

.attribution a:hover,
.attribution a:focus-visible {
  color: var(--clr-accent-200);
}

/* RESET */

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
* {
  margin: 0;
  padding: 0;
  font: inherit;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

html,
body {
  height: 100%;
}

/* Set core body defaults */
body {
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* END OF RESET */

body {
  font-family: var(--ff-body);
  font-size: var(--fs-body);
  color: var(--clr-primary-400);
  line-height: 1.65;
}


.button {
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  padding: 0.9em 2.8em;
  border: none;
  letter-spacing: 0.2em;
  background-color: var(--clr-accent-200);
  color: var(--clr-neutral-100);
  font-size: var(--fs-400);
  font-weight: var(--fw-bold);
}

.button:hover,
.button:focus-visible {
  background-color: var(--clr-primary-900);
}



/* main grid */

/* mobile margins and centering items on mobile*/
@media (max-width: 599px) {
  .fm-news-main-grid {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .fm-news-main-picture {
    max-width: 410px;
  }

  .fm-news-title {
    max-width: 410px;
    margin-top: 1.3rem;
  }

  .fm-news-main-article {
    max-width: 410px;
    margin-top: 0.8rem;
  }

  .button {
    margin-top: 1.8rem;
  }

  .fm-news-aside {
    margin-top: 4rem;
  }

  .fm-articles {
    margin-block: 4rem;
  }
}

@media (min-width: 600px) {

  .fm-news-main-article {
    max-width: 40ch;
  }

  .fm-news-main-grid {
    display: grid;
    grid-template-rows: auto auto 1fr;
    grid-auto-columns: 1fr;
    gap: 1rem;
    grid-template-areas:
      "picture picture "
      "title article"
      "fm-news-aside fm-articles";
  }

  .fm-news-title {
    margin-top: 3rem;
    max-width: 40ch;
  }

  .fm-news-main-article {
    margin-top: 3rem;
  }

  .button {
    margin-top: 1.5rem;
  }

  .fm-articles {
    margin-block: 3rem;
  }

  .fm-news-aside {
    margin-block: 3rem;
  }

}

@media (min-width: 1024px) {

  .fm-news-main-grid {
    display: grid;
    /* grid-auto-rows: 1fr; */
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
    gap: 2rem;
    grid-template-areas:
      "picture picture fm-news-aside"
      "title article fm-news-aside"
      "fm-articles fm-articles fm-articles";
  }

  /* widescreen margins */

  .button {
    margin-top: 2rem;
  }

  .fm-articles {
    margin-block: 2.5rem;
  }

  .fm-news-aside {
    margin: 0;
  }

  .fm-news-title {
    margin: 0;
  }

  .fm-news-main-article {
    margin: 0;
  }
}

.fm-news-main-picture {
  grid-area: picture;
}

.fm-news-main-picture img {
  object-fit: cover;
  height: 100%;
}

.fm-news-title {
  grid-area: title;
}

.fm-news-main-article {
  grid-area: article;
}

.fm-news-aside {
  grid-area: fm-news-aside;
}

.fm-articles {
  grid-area: fm-articles;
}



/* Aside   */
/* made the parent container flex so the child wrapper spans to the 
   bottom of its parent - fills out available space when given a height by the grid
   thats bigger than the wrapper */
.fm-news-aside {
  display: flex;
}

.fm-news-aside-wrapper {
  max-width: 410px;
  padding: 1.4em;
}

.fm-news-aside-wrapper hr {
  color: var(--bg-neutral-200);
  margin-top: 2em;
  border: 1px solid;
}

.fm-news-aside-wrapper p {
  color: var(--clr-neutral-200);
}

.new-articles-list {
  display: flex;
  flex-direction: column;
}

.new-articles-list li {
  position: relative;
  margin-top: 2em;
}

.new-articles-list a {
  text-decoration: none;
  color: var(--clr-neutral-100);
  font-size: var(--fs-h3);
  font-weight: var(--fw-bold);
}

.new-articles-list a:hover,
.new-articles-list a:focus-visible {
  color: var(--clr-accent-100);
}

.new-articles-list a::after {
  content: "";
  position: absolute;
  inset: 0;
}



/* Front page articles preview */

.fp-articles-preview {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  /* align-items: center; */
  gap: 2rem;
}

@media(min-width: 600px) {
  .fp-articles-preview {
    align-items: normal;
  }
}

@media(min-width: 1024px) {
  .fp-articles-preview {
    flex-direction: row;
    justify-content: space-between;
  }

  .fp-articles-preview li {
    /* if flex basis is equal to min width the resulting behaviour is that 
  flex items will shrink before they wrap */
    flex: 1 1 325px;
  }

}

.fp-articles-preview li {
  display: grid;
  position: relative;
  grid-template-columns: 1fr 2fr;
  /* min-width: 325px; */
  max-width: 410px;
  gap: min(1.5rem, 5%);
  margin: 0;
  padding: 0;
}

.fp-articles-preview {
  counter-reset: count;
}

.fp-articles-preview li {
  counter-increment: count;
}

.fp-articles-preview-text::before {
  content: counter(count, decimal);
  font-size: 2.1rem;
  line-height: 1;
  font-weight: var(--fw-bold);
  color: var(--clr-neutral-200);

}

.fp-articles-preview li:nth-child(-n+9) .fp-articles-preview-text::before {
  content: "0" counter(count, decimal);
}

.fp-articles-preview-text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: nowrap;
}

.fp-articles-preview-text a {
  text-decoration: none;
  font-size: var(--fs-h4);
  font-weight: var(--fw-extra-bold);
  color: var(--clr-primary-900);
}

.fp-articles-preview-text a:hover,
.fp-articles-preview-text a:focus-visible {
  color: var(--clr-accent-200);
}

.fp-articles-preview-text a::before {
  content: "";
  position: absolute;
  inset: 0;
}


/* Utility classes */

:where(.flow :not(:first-child)) {
  margin-top: var(--flow-spacer, 3em);
}

:where(.flow-mobile :not(:first-child)) {
  margin-top: var(--flow-spacer, 3em);
}

:where(.flow-direct-children> :not(:first-child)) {
  margin-top: var(--flow-spacer, 3em);
}

:where(.flow[data-spacing="tight"] :not(:first-child)) {
  margin-top: var(--flow-spacer, 1em);
}

.text-primary-400 {
  color: var(--clr-primary-400);
}

.text-primary-900 {
  color: var(--clr-primary-900);
}

.text-accent-100 {
  color: var(--clr-accent-100);
}

.text-accent-200 {
  color: var(--clr-accent-200);
}

.text-neutral-100 {
  color: var(--clr-neutral-100);
}

.text-neutral-200 {
  color: var(--clr-neutral-200);
}

.bg-primary-400 {
  background-color: var(--clr-primary-400);
}

.bg-primary-900 {
  background-color: var(--clr-primary-900);
}

.bg-accent-100 {
  background-color: var(--clr-accent-100);
}

.bg-accent-200 {
  background-color: var(--clr-accent-200);
}

.bg-neutral-100 {
  background-color: var(--clr-neutral-100);
}

.bg-neutral-200 {
  background-color: var(--clr-neutral-200);
}

.fw-bold {
  font-weight: var(--fw-bold);
}

.fw-extra-bold {
  font-weight: var(--fw-extra-bold);
}

.fw-regular {
  font-weight: var(--fw-regular);
}

.fs-h1 {
  font-size: var(--fs-h1);
  line-height: 1.1;
  max-width: 40ch;
}

.fs-h2 {
  font-size: var(--fs-h2);
  line-height: 1.2;
}

.fs-300 {
  font-size: var(--fs-300);
}

.fs-400 {
  font-size: var(--fs-400);
}

.fs-500 {
  font-size: var(--fs-500);
}

.fs-600 {
  font-size: var(--fs-600);
}

.fs-700 {
  font-size: var(--fs-700);
}

.fs-800 {
  font-size: var(--fs-800);
}

.fs-900 {
  font-size: var(--fs-900);
}

.padding-block-100 {
  padding-block: var(--size-100);
}

.padding-block-200 {
  padding-block: var(--size-200);
}

.padding-block-300 {
  padding-block: var(--size-300);
}

.padding-block-400 {
  padding-block: var(--size-400);
}

.padding-block-500 {
  padding-block: var(--size-500);
}

.padding-block-600 {
  padding-block: var(--size-600);
}


.padding-block-700 {
  padding-block: var(--size-700);
}

.padding-block-800 {
  padding-block: var(--size-800);
}

@media (max-width: 1023px) {
  .sm-padding-block-800 {
    padding-block: var(--size-800);
  }
}

.padding-block-900 {
  padding-block: var(--size-900);
}

@media (max-width: 1023px) {
  .sm-padding-bottom-800 {
    padding-bottom: var(--size-800);
  }
}

.padding-bottom-800 {
  padding-bottom: var(--size-800);
}

.visually-hidden {
  position: absolute;
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

.container {
  --max-width: 1440px;
  --horizontal-padding: 1rem;

  width: min(var(--max-width) - (var(--horizontal-padding)*2), 100% - (var(--horizontal-padding)*2));
  margin-inline: auto;

}

@media (min-width: 600px) {
  .container {
    --horizontal-padding: 2rem;
  }
}

@media (min-width: 850px) {
  .container {
    --horizontal-padding: 3rem;
  }
}

@media (min-width: 1024px) {
  .container {
    --horizontal-padding: 3.5rem;
  }
}